<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="component.css" />
    <title>Component</title>
  </head>
  <body>
    <article>
      <h2>スライダー</h2>

      <div class="slider">
        <div class="item">
          <img
            src="../public/IMG_2799.JPG"
            alt="横を向く女性の写真"
            width="100"
            height="100"
          />
        </div>
        <div class="item">
          <img
            src="../public/IMG_2799.JPG"
            alt="横を向く女性の写真"
            width="100"
            height="100"
          />
        </div>
        <div class="item">
          <img
            src="../public/IMG_2799.JPG"
            alt="横を向く女性の写真"
            width="100"
            height="100"
          />
        </div>
        <div class="item">
          <img
            src="../public/IMG_2799.JPG"
            alt="横を向く女性の写真"
            width="100"
            height="100"
          />
        </div>
      </div>
    </article>

    <article>
      <h2>丸みを歪ませて柔らかい印象に</h2>
      <div class="soft-inpuletion">
        <div class="first">
          <img
            src="../public/IMG_2799.JPG"
            alt="横を向く女性の写真"
            width="100"
            height="100"
          />
        </div>

        <div class="second">
          <img
            src="../public/IMG_2799.JPG"
            alt="横を向く女性の写真"
            width="100"
            height="100"
          />
        </div>

        <div class="third">
          <img
            src="../public/IMG_2799.JPG"
            alt="横を向く女性の写真"
            width="100"
            height="100"
          />
        </div>
      </div>
    </article>
  </body>
</html>
